<!doctype html>
<html ng-app="myApp">

<head>
    <title>Secret Journal</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <div ng-controller="myController">
        <div id=bar>
          <a id="logoutLink" href="/logout" style="float:left"><button>logout</button></a>
          <div id="welcomeText"> Welcome, <%= username %></div>
        </div>

    <div class="floatBox">
        <h1>Secret Journal</h1>
        <p>Secret Journal is a safe place to keep your deepest fears, hopes, or confessions. So you
          write away, knowing your words are safe.
        </p><br>

      <div class="textHolder">
          <a id="editLink" href="/user"><button>Edit My Secrets</button></a>
          <div id="journalText">

          <h2>My Secrets</h2><br><br>
              <%= journal %>
          </div>
      </div>
    </div>
    <br><br><br><br>
    <span id="indexMsg">
        <%= msg %>
    </span>

    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>

</html>
