<!doctype html>
<html ng-app="myApp">

<head>
    <title>Secret Journal</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <div ng-controller="myController" class="floatBox">
        <h2 id="welcomeText">Welcome, <%= username %></h2>
        <a id="logoutLink" href="/logout">logout</a>
        <a id="editLink" href="/user">Edit User</a>
        <p>Secret Journal is a safe place to keep your deepest fears, hopes, or confessions. So
          write away, knowing your words are safe.
        </p>
    </div>
    <hr>
    <span id="indexMsg">
        <%= msg %>
    </span>
    <hr>
    <div id="journalText" class="floatBox">
    <h2>My Secrets</h2>
        <%= journal %>
      </div>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>

</html>
