<!doctype html>
<html ng-app="myApp">

<head>
    <title>Secret Journal</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <div class="floatBox" ng-controller="myController">
        <h3 id="sectionTitle">Edit Secrets</h3>
        <form method="POST" action="/user/update">
            <label>Username:</label>
            <input type="text" id="username" name="username" ng-model="user.username" disabled><br>
            <label>Email:</label>
            <input type="email" id="email" name="email" ng-model="user.email"><br>
            <label>Edit Journal Entry:</label>
            <textarea type="text" id="journal" name="journal" ng-model="user.journal"></textarea><br>
            <input type="submit" id="save" value="Save">
        </form>
    </div><br><br><br><br><br>

    <hr>
    <span id="userMsg">
    <%= msg %>
    </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    <a id="homeLink" href="/">Home</a>
</body>

</html>
